font-family:normal;
}
h1{font-size: 10.0em;}
h1{ text-align:center;
color:#d7d7a8;}
h2{font-size: 3.0em;}
h3{font-size: 2.5em;}
h3{ text-align:left;}
p{font-size: 2.0em;}
img{
    max-width: 15%;
    border-radius:5px;
    border:5px
    width:350px;
    height:300px;
    margin:50px 130px;
    }
header .imag{
	display: flex;
	justify-content:center;

    }
    header .imag{
	display: flex;
	justify-content:center;

    }
    .opcion{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:0 80px
    justify-content:center;
     margin:5px 180px;
       }
     .opcione{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:0 80px
    justify-content:center;
     margin:5px 180px;


 }
button{
font-size: 1.0em;
padding:15px 20px;
border-radius:10px;
border:3px solid rgb( 120,130,120);
color:#d7d7a8;
display: center;
background-color:#004225;
margin:0  px 30px;


}
header.conteiner{
max-width: 1800px;
margin:auto; }
header{
background-color:#004225;
font-size: 2.4em;
}
header .conteiner{
display:flex;
flex-direction: column;
align-items:left;
}
header .Compra{
flex-direction:left;
text-align:left;
padding-bottom: 25px;
}
header a{
color:#d7d7a8;
font-size: 1.15em;
text-decoration:none; 
text-align:left;
}
.precio{
font-size: 3.0em;
padding:5px 10px;
}
button {
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #004225;
  color: #d7d7a8;
  cursor: pointer;
  transition: all 0.3s ease; /* Animación suave */
}

button:hover {
  background-color: #003314;
  transform: scale(1.05); /* Aumenta un poco el tamaño */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
	}
select#talla {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #004225;
  border-radius: 5px;
  background-color: #ffffff;
  color: #004225;
  margin-bottom: 15px;
  outline: none;
  transition: border-color 0.3s;
}

select#talla:focus {
  border-color: #003314;
